{% extends "polls/base.html" %}

{% block title %}{{ question }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'polls:index' %}">Polls</a>
{% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}

{% block content %}
{% if question_list %}
    <ul>
    {% for question in question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
